/* declaracion de variables */
:root{
    --colorOscuro: #3f888f;
    --colorClaro: #5dc1b9;
    --blanco: #ffffff;
    --negro: #000000;
    --sizeTexto: 22px;
    --sizeTitulo: 45px;
    --sizeSubtitulo: 32px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;    
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorOscuro);
    padding: 10px;
}

.logo_nombre{
    width: 25vw;
    height: 10vh;
    padding-left: 20px;
}

.iconos_rrss{
    display: flex;
    margin-right: 20px;
}

.presentacion{
    display: flex;
    justify-content: center;
}

.tarjeta_presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}

.avatar{
    margin-top: 50px;
    width: 180px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.60);

}

.texto_avatar{
    margin-top: 20px;
    font-size: var(--sizeTexto);
    text-align: center;
}

.iconos_contacto{
    display: flex;
    gap:20px;
    margin-top: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 70px;
}

.cajas_menu{
    background-color: var(--colorOscuro);
    border-radius: 10px;
    color: var(--blanco);
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
}

.cajas_menu:hover{
    transform:  rotate(360deg);
    transition:  transform 2s;
}

.sobre_mi{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: linear-gradient(var(--colorOscuro),var(--blanco));
}

.sobre_miTitulo{
    font-size: var(--sizeTitulo);
    color: var(--blanco);
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

p{
    font-size: var(--sizeTexto);
    text-align: justify;
}

.formacion{
    font-size: var(--sizeSubtitulo);
    color: var(--negro);
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.cajas_formacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjeta_formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos_formacion{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.nombre_formacion{
    font-weight: bold;
    margin-bottom: 10px;
}

.tecnologias{
    display: flex;
    flex-direction: column;
}
.contenido_tecnologias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-left: 70px;
    padding-right: 2px;
}

.caja_tecnologia{
    display: flex;
    width: 90px;
    height: 90px;
}

.iconos_tecnologias{
    width: 90px;
    height: 90px;
}

.iconos_tecnologias:hover{
    opacity: 0;
    transition: 2s;
}

.bajo_iconos{
    position: relative;
    align-self: center;
    justify-self: center;
    right: 90px;
    width: 90px;
    z-index: -1;
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.nombre_tecnologia{
    font-weight: bold;
    font-size: 12px;
    width: 90px;
}

.proyectos{
    display: flex;
    flex-direction: column;
    background-color: var(--colorClaro);
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenido_proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.tarjeta_proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.imagen_proyecto{
    margin-bottom: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.60);
}

.nombre_proyecto{
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.nombre_proyecto:hover{
    transform: scale(1.5);
    transition: transform 1s;

}

.descripcion_proyecto{
    font-size: 18px;
    text-align: justify;
    margin-top: 14px;
    margin-bottom: 14px;
}

.contacto{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: var(--colorOscuro);
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_form{
    background-color: var(--blanco);
    border: none;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    width: 500px;
    padding-left: 10px;
}

.textarea_form{
    background-color: var(--blanco);
    border: none;
    border-radius: 5px;
    margin: 10px;
    height: 300px;
    width: 500px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.boton{
    background-color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 230px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.footer{
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.icono_github{
    height: 40px;
    width: 40px;
}

.icono_linkedin{
    height: 50px;
    width: 50px;
}

.icono_mail{
    height: 70px;
    width: 70px;
}

.icono_whatsapp{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.copyrigth{
    font-size: 20px;
    color: var(--blanco);
    justify-self: end;
    margin-right: 100px;
}